@if (images?.length) {
    <div class="image-slider">
        @if (images?.length > 1) {
            <div class="image-slider-preview">
                @for (image of images; track image) {
                    <img
                        class="image-slider-preview-img"
                        [class.image-slider-preview-img--selected]="image === activeImage"
                        [src]="image.src"
                        [alt]="image.alt"
                        (mouseover)="setShowCardImage(image)"
                    />
                }
            </div>
        }
        <div class="image-slider-showcard">
            <img [src]="activeImage?.src" [alt]="activeImage?.alt" class="image-slider-showcard-image" />
        </div>
    </div>
}
